h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
}

p {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	word-break: break-all;
}

body {
	padding-top: 0px;
	background-color: #f9f9f9;
}

.row {
	height: 100%;
}

.title {
	font-size: 60px;
}

.dash-input {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

.pretty_container {
  border-radius: 5px;
  background-color: white;
  position: relative;
  margin: 15px;
  padding: 10px;
  box-shadow: 2px 2px 2px lightgrey;
}

hr {
	border-top: 2px solid #eee;
}

.simple-box {
	border: 2px solid #eee;
	margin: 8%;
	padding: 5%;
}


.Select--single>.Select-control .Select-value, .Select-placeholder {
	font-size: 20px;
	line-height: unset;
	padding: 10px;
}

.Select-value-label {
	font-size: 20px;
	line-height: unset;
	padding: 10px;
}

.VirtualizedSelectOption {
	font-size: 14px;
	line-height: unset;
	padding: 10px;
	position: absolute;
}

@media (min-width: 992px) {
	.col-md-8 {
		width: calc(66.6666667% - 30px);
	}

	.col-md-4 {
		width: calc(33.3333333% - 30px);
	}
}

